{% extends "base.html" %}

{% block content %}

<div class="cards">

    <!-- SANCIONES -->
    <div class="card-wrapper red">
        <div class="dot"></div>

        <div class="stat-card">

            <div class="ray"></div>

            <div class="text">{{ stats.sanciones }}</div>
            <div class="label">Sanciones</div>

            <div class="line topl"></div>
            <div class="line leftl"></div>
            <div class="line bottoml"></div>
            <div class="line rightl"></div>

        </div>
    </div>


    <!-- OPERATIVOS -->
    <div class="card-wrapper blue">
        <div class="dot"></div>

        <div class="stat-card">

            <div class="ray"></div>

            <div class="text">{{ stats.operativos }}</div>
            <div class="label">Operativos</div>

            <div class="line topl"></div>
            <div class="line leftl"></div>
            <div class="line bottoml"></div>
            <div class="line rightl"></div>

        </div>
    </div>


    <!-- RECUENTO -->
    <div class="card-wrapper orange">
        <div class="dot"></div>

        <div class="stat-card">

            <div class="ray"></div>

            <div class="text">{{ recuento }}</div>
            <div class="label">Tu recuento</div>

            <div class="line topl"></div>
            <div class="line leftl"></div>
            <div class="line bottoml"></div>
            <div class="line rightl"></div>

        </div>
    </div>

</div>
{% endblock %}