{% extends "base.html" %} {% block content %}

<h1>Sanciones</h1>

<table class="data-table" id="tablaSanciones">
	<tr>
		<th>ID</th>
		<th>Usuario</th>
		<th>Nivel</th>
		<th>Motivo</th>
		<th>Fecha límite</th>
		<th>Estado</th>
	</tr>

	{% for s in sanciones %}

	<tr>
		<td>{{s.id_unico}}</td>

		<td>{{s.user_id}}</td>

		<td>
			{% if s.nivel >= 3 %}
			<span class="badge red">Grave</span>
			{% else %}
			<span class="badge yellow">Leve</span>
			{% endif %}
		</td>

		<td>{{s.motivo}}</td>

		<td>{{s.fecha}}</td>

		<td>
			{% if s.estado == "activa" %}
			<span class="badge red">Activa</span>
			{% else %}
			<span class="badge green">Cumplida</span>
			{% endif %}
		</td>
	</tr>

	{% endfor %}
</table>

{% endblock %}
